.mb4 {
  margin-block: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background: hsl(360, 100%, 100%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-block: 0.5rem;
}

.rem4 {
  font-size: clamp(2rem, 4rem, 4rem);
}

.lb {
  display: none;
}

.image {
  display: block;
  object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
}

.pad1 {
  padding-block: 1rem;
  padding-inline: 1rem;
}

.pad1 > * {
  margin-block: 0.5rem;
}

@media (max-width: 1000px) {
  .rem4 {
    font-size: clamp(2rem, 3rem, 4rem);
  }
  .btn {
    text-transform: capitalize;
  }
}

@media (max-width: 639px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .central {
    display: grid;
    place-self: center;
    overflow: hidden;
  }

  .tc {
    text-align: center;
  }

  .lb {
    display: block;
  }

  .rem4 {
    font-size: 2rem;
  }
}
