.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pitchImgCont {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.5rem;
}

.gridP {
  align-self: flex-end;
}

.mb2 {
  margin-block-end: 1rem;
}

.pitchImage {
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .pitchImgCont {
    display: none;
  }
}
